  /**************************DESKTOP VIEW*************************/

@media only screen and (min-width: 1011px) {
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #E2492F;
  }

/*HEADER*/

.headerWrapper{
  width: 100%;
  margin: 0 auto 2% auto;
  padding: 1% 4% 1% 2%;
  align-items: center;
}

.desktopBackNav{
  font-size: 1.2em;
  float: left;
  margin-left: 5%;
  padding-bottom: .25%;
  border-bottom: solid 1px black;
}

.desktopBackNav:hover{
  border-bottom: solid 1px #E2492F;
}

.linkButtons {
  padding-right: 3%;
  float: right;
  width: 38%;
  margin-top: .8%;
  display: flex;
  flex-basis: 5em;
  align-items: center;
  justify-content: flex-end;
}
.linkButtons a {
  flex-direction: row-reverse;
  text-align: center;
  margin: 0 2%;
}
#contactBtn {
  width: 4em;
  background-color: #E2492F;
  color: white;
  padding: .65% 1% .65% 1%;
  border-radius: 1px;
  margin: 0 1.5%;
  align-self: center;
  align-items: center;
}
#contactBtn:hover {
  background-color: white;
  color: #E2492F;
  border: solid .5px #E2492F;
  margin: 0 1.3%;
  padding: .5% 1%;
}

.fa-home{
  color: #E2492F;
  font-size: 1.5em;
}

.fa-home:hover{
  cursor: pointer;
}

.fa-arrow-left{
  display: none;
}

#myName{
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
}

#mobilePhone{
  display: none;
}

.mobileMenu{
  display: none;
}

.tabletMenu{
  display: none;
}

/*PROJECT TITLE*/

.titleWrapper{
  width: 100%;
  margin: 5% auto 2% auto;
  text-align: center;
}

/*BODY*/

h2{
display: block;
font-family: 'Nunito', sans-serif;
font-size: 3em;
width: 98%;
margin: 2% auto 0 auto;
align-items: center;
}

.projectLine{
  font-size: 1.4em;
}

.projectLink{
  font-size: 1.2em;
  display: block;
  margin-top: 4%;

}

.optimizedWarning{
  font-size: .7em;
}

/*content div -- flex container ftw*/

.contentWrapper{
  display: flex;
  margin-top: 7%;
}

.projectImage{
  width: 50%;
  flex-direction: column;
  margin-left: 3%;
}

.desktopProjImage{
  width: 80%;
  flex-direction: column;
  float: left;
}

#macBookImg{
  align-items: center;
}

#doItMacbook{
  width: 120%;
  float:left;
  margin-left: -12%;
}

#shoppingListMacbook{
  width: 120%;
  float:left;
  margin-left: -12%;
}

.projectDesc{
  flex-direction: column;
  width: 45%;
  margin: 0 2%;
}

h4{
  font-size: 1.5em;
  margin: 5% 0 2% 0;
}

.buildList{
  display: flex;
}

#inDescLink{
  color: #E2492F;
}

li{
  flex-direction: column;
  flex: 1;
}


  footer{
    padding-top: 10%;
    text-align: center;
    margin: 0 auto 1% auto;
  }

  .footerLinks a{
    display: inline-block;
    font-size: 1.8em;
    color: #E2492F;
    margin: 0 .6% .95% .6%;
  }

  .footerLinks a:hover{
    cursor: pointer;
  }
  .copyright{
    width: 100%;
    text-align: center;
    font-size: .85em;
  }
}

/**************************TABLET VIEW*************************/

@media only screen and (max-width: 1010px){

body{
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  line-height: 1.5;
}

  .headerWrapper{
    width: 100%;
    margin: 0 auto 2% auto;
    padding: 1% 2% 1% 2%;
    align-items: center;
  }

.fa-arrow-left{
    font-size: 2.45em;
    color: #E2492F;
    display: inline-block;
    margin-top: 2%;
    width: 10%;
  }

#myName{
  font-size: 2.6em;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

#mobilePhone{
  text-align: center;
  font-size: 1.3em;
}

#personalTitle{
  display: none;
}


.linkButtons a{
display: none;
}

.mobileMenu{
  display: none;
}

.tabletMenu{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 3% 0;
}

.tabletMenu a{
  flex-direction: column;
  padding: 1.45% 3.5%;
  margin: 0 5%;
  border-radius: 3px;
  background-color: #E2492F;
  color: white;
  font-size: 1.65em;
  display: inline-block;
  width: 33%;
  text-align: center;
  border: 2px transparent solid;
}

.tabletMenu a:hover{
  margin: 0 4.75%;
  border: solid 2px #E2492F;
  background-color: white;
  color: #E2492F;
}

.titleWrapper{
  margin-bottom: 5%;
  text-align: center;
  color: white;
  padding: 12% 0;
}


#shoppingListTitle{
  background: url('../images/clarkStreetResize.png');
  background-position: center;
  background-repeat: no-repeat;
}

#doItTitle{
  background: url('../images/andrewNeel.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

#pearlTitle{
  background: url('../images/jeffSheldon.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.titleWrapper a{
  display: block;
  font-size: 1.45em;
  color: white;
}

h2{
display: block;
font-family: 'Nunito', sans-serif;
font-size: 2.5em;
width: 98%;
margin: 2% auto 1% auto;
}

span{
  display: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #E2492F;
  }

  .desktopProjImage{
    display: none;
  }

  .projectDesc h4{
    font-size: 1.3em;
    display: block;
    margin: 2% 0;
  }

  .buildList{
    display: flex;
    text-align: center;
  }

  .buildList li{
    flex: 1;
  }

  .projectDesc{
    font-size: 1.1em;
    padding: 0 3%;
    margin-bottom: 5%;
    }

  .footerLinks{
    display: none;
  }

  .desktopBackNav a{
    display: none;
  }
}

/**************************MOBILE VIEW*************************/

@media only screen and (min-width : 320px) and (max-width: 600px){
  body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    line-height: 1.5;
  }

  .fa-arrow-left{
      font-size: 2em;
      color: white;
      display: inline-block;
      margin: 2% 0 0 3%;
      width: 10%;
    }

  #myName{
    font-size: 2.6em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  #mobilePhone{
    text-align: center;
    font-size: 1.3em;
  }

  #personalTitle{
    display: none;
  }

  .headerWrapper{
    width: 100%;
    padding: 0 0 5% 0;
    overflow-y: hidden;
    background-color: #E2492F;
    color: white;
    margin: 0 auto 5% 0;
  }

  .headerWrapper a{
    color: white;
  }

  .mobileMenu{
    width: 70%;
    margin: 0 auto 2% auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileMenu a{
    font-size: 3em;
    flex-direction: row;
    flex: 1;
    text-align: center;
    color: #E2492F;
  }

  .tabletMenu{
    display: none;
  }

  .footerLinks a{
    display: none;
  }

  .desktopBackNav a{
    display: none;
  }
}
