body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 98%;
  display: flex;
}

/*HEADER*/

.headerWrapper{
  width: 100%;
  margin: 0 auto 2% auto;
  padding: 1% 2% 1% 2%;
  align-items: center;
  /*box-shadow: 0px 3px 15px rgba(48, 48, 48, 0.4);*/
}

.linkButtons{
  float: right;
  width: 30%;
  margin-top: .8%;
  display: flex;
  flex-basis: 5em;
  align-items: center;
}

.linkButtons a{
  flex-direction: column;
  /*flex: .8;*/
  text-align: center;
  margin: 0 2%;
}

#contactBtn{
  width: 4em;
  height: 1.2em;
  background-color: #E2492F;
  color: white;
  padding: .5% 1%;
  border-radius: 1px;
  margin: 0 1.5%;
}

#contactBtn:hover{
  background-color: white;
  color: #E2492F;
  border: solid .5px #E2492F;
  margin: 0 1.3%;
  padding: .5% 1%;
}

.fa-home{
  color: #E2492F;
  font-size: 1.5em;
}

.fa-home:hover{
  cursor: pointer;
}

#myName{
  font-size: 1.45em;
  font-family: 'Nunito', sans-serif;
}

/*PROJECT TITLE*/

.titleWrapper{
  width: 30%;
  margin: 5% auto 0 auto;
  text-align: center;
}

/*BODY*/

h2{
display: block;
font-family: 'Nunito', sans-serif;
font-size: 2em;
width: 98%;
margin: 2% auto 1.5% auto;
align-items: center;
}

.projectLine{
  /*margin: 0 auto 5% auto;*/
  font-size: 1.2em;
}

.projectLink{
  display: block;
  margin-top: 5%;

}

/*content div -- flex container ftw*/

.contentWrapper{
  display: flex;
  margin-top: 7%;
}

.projectImage{
  width: 50%;
  flex-direction: column;
  margin-left: 3%;
}

.projectDesc{
  flex-direction: column;
  width: 45%;
  margin: 0 2%;
}

h4{
  font-size: 1.5em;
  margin: 5% 0 2% 0;
}

.buildList{
  display: flex;
}

li{
  flex-direction: column;
  flex: 1;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #E2492F;
}
