/**************************DESKTOP VIEW*************************/

@media only screen and (min-width: 1011px) {
  body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #E2492F;
  }
  .headerWrapper {
    width: 80%;
    margin: 1% auto 2% auto;
    padding: 1% 4% 1% 2%;
    align-items: center;
  }
  .linkButtons {
    font-size: 1.1em;
    padding-right: 3%;
    float: right;
    width: 50%;
    margin-top: .8%;
    display: flex;
    flex-basis: 5em;
    align-items: center;
    justify-content: flex-end;
  }
  .linkButtons a {
    flex-direction: row-reverse;
    text-align: center;
    margin: 0 2%;
  }

  .desktopBackNav a{
    font-size: 1.2em;
    float: left;
    margin-left: 8.8%;
    padding-bottom: .45%;
    color: #E2492F;
    border-bottom: solid 1px transparent;
  }

  .desktopBackNav a:hover{
    border-bottom: solid 1px #E2492F;
  }

  #contactBtn {
    width: 4em;
    height: 1.2em;
    background-color: #E2492F;
    color: white;
    padding: .95% 1% .75% 1%;
    border-radius: 1px;
    margin: 0 1.5%;
    align-self: center;
  }
  #contactBtn:hover {
    background-color: white;
    color: #E2492F;
    border: solid .5px #E2492F;
    margin: 0 1.3%;
    padding: .5% 1%;
  }
  #myName {
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
  }

  #mobilePhone{
    display: none;
  }

  .textLink{
    color:#E2492F; 
  }

  .mobileMenu{
    display: none;
  }

  .tabletMenu{
    display: none;
  }

  .tabletGrid{
    display: none;
  }

  .fa-home{
    display: none;
  }

  .picGrid {
    width: 60%;
    padding: 5%;
    display: flex;
    flex-basis: auto;
    margin: 0 auto;
  }

  .col {
    width: 25%;
    float: left;
    padding: 0 1%;
    flex: 1;
  }
  .picGridimg {
    flex-grow: 1;
    /*flex: 1 1 0;*/
    width: 95%;
    height: auto;
  }

  .projLink a {
    margin: 0 auto;
    display: none;
  }

  .gridBuildSummary {
  text-align: center;
  line-height: 1.8;
  display: none;
  flex-grow: 1;
  width: 95%;
  height: 100%;
  justify-content: center;
  align-content: center;

}

.gridBuildSummary h4{
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 5%;
  font-family: 'Nunito', sans-serif;
}

.gridBuildSummary p{
  margin-top: 25%;
  color: #E2492F;
}

.picGrid a:hover .gridBuildSummary{
  display: block;
  color: black;
}

.picGrid a:hover img{
  display: none;
}

  .bio {
    font-size: 1.45em;
    line-height: 1.5;
    width: 58.8%;
    margin: 0 auto;
  }

  .aboutMeWrapper{
    display: flex;
    margin: 7% auto 5% auto;
    width: 60%;
  }

  #selfPortrait{
    border-radius: 2px;
    width: auto;
    height: 275px;
    flex-direction: column;
    margin-bottom: 10%;
    align-items: center;
  }

  #butters{
    height: 275px;
    width: auto;
    border-radius: 2px;
    flex-direction: column;
    float: left;
    margin-bottom: 2%;
  }

  .imgCaption{
    display: block;
    font-size: .85em;
    padding-top: 5%;
  }

  .aboutMePDiv{
    width: 100%;
  }

  .aboutMeP{
    width: 90%;
    float: right;
    line-height: 1.5;
    padding-top: 5%;
  }

  footer{
    text-align: center;
    margin: 0 auto 1% auto;
  }

  .footerLinks a{
    display: inline-block;
    font-size: 1.8em;
    color: #E2492F;
    margin: 0 .6% .95% .6%;
  }

  .footerLinks a:hover{
    cursor: pointer;
  }
  .copyright{
    width: 100%;
    text-align: center;
    font-size: .85em;
  }
}

/**************************TABLET VIEW*************************/

@media only screen and (max-width: 1010px){

  body{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    line-height: 1.5;
    font-weight: 200;
  }

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #E2492F;
  }

    .headerWrapper{
      width: 100%;
      margin: 0 auto 2% auto;
      padding: 1% 2% 1% 2%;
      align-items: center;
    }

  .fa-arrow-left{
      font-size: 2.45em;
      color: #E2492F;
      display: inline-block;
      margin-top: 2%;
      width: 10%;
    }

  #myName{
    font-size: 2.6em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  #mobilePhone{
    text-align: center;
    font-size: 1.3em;
  }

  #personalTitle{
    display: none;
  }


  .linkButtons a{
  display: none;
  }

  .mobileMenu{
    display: none;
  }

  .tabletMenu{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 3% 0;
  }

  .tabletMenu a{
    flex-direction: column;
    padding: 1.45% 3.5%;
    margin: 0 5%;
    border-radius: 3px;
    background-color: #E2492F;
    color: white;
    font-size: 1.65em;
    display: inline-block;
    width: 33%;
    text-align: center;
    border: solid transparent 1px;
  }

  .tabletMenu a:hover{
    margin: 0 4.75%;
    border: solid 1px #E2492F;
    background-color: white;
    color: #E2492F;
  }

  .desktopBackNav{
    display: none;
  }

  .picGrid{
    display: none;
  }

  .tabletGrid{
    margin: 0 auto 1% auto;
    padding: 2% 0;
    width: 100%;
    font-size: 2.5em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background: url('../images/indexBackground.png');
    background-position: center;
  }

  .tabletGrid li{
    margin: 5% 2%;
    border: solid white 1px;
    border-radius: 3px;
  }

  .tabletGrid a{
    color: white;
  }

  .tabletGrid li:hover{
    color: #E2492F;
    border: solid #E2492F 1px;
  }

  .bio{
    margin: 2% auto;
    width: 80%;
    font-size: 1.35em;
  }

  .aboutMeWrapper{
    margin: 7% auto 5% auto;
    width: 80%;
    float: none;
  }

  .aboutMeImgDiv{
    margin: auto;
  }

  .aboutMeWrapper img{
    border-radius: 2px;
    width: auto;
    height: 250px;
    margin: 0 auto 5% auto;
    display: block;
  }

  .aboutMePDiv{
    width: 80%;
    margin: 5% auto 0 auto;
  }

  .aboutMeP{
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.3em;
  }

  footer{
    text-align: center;
    margin: 0 auto 1% auto;
  }

  .footerLinks a{
    display: inline-block;
    font-size: 1.8em;
    color: #E2492F;
    margin: 0 .6% .95% .6%;
  }

  .footerLinks a:hover{
    cursor: pointer;
  }
  .copyright{
    width: 100%;
    text-align: center;
    font-size: .85em;
  }

}
/**************************MOBILE VIEW*************************/

@media only screen and (min-width : 320px) and (max-width: 600px){
  body{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    line-height: 1.5;
    font-weight: 200;
  }

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #E2492F;
  }

  .headerWrapper{
    width: 100%;
    overflow-y: hidden;
    background-color: #E2492F;
    color: white;
    padding: 5% 0;
    margin: 0 auto 10% 0;
  }

  .headerWrapper a{
    color: white;
  }

  .mobileMenu{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileMenu a{
    font-size: 3em;
    flex-direction: row;
    flex: 1;
    text-align: center;
    color: #E2492F;
  }

  .tabletMenu{
    display: none;
  }

  .desktopBackNav{
    display: none;
  }

  .bio{
    margin-bottom: 8%;
  }

  .aboutMePDiv{
    width: 100%;
  }

  .aboutMeP{
    text-align: left;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.3em;
  }

  .footerLinks a{
    display: none;
  }
}
