/**************************DESKTOP VIEW*************************/

@media only screen and (min-width: 1011px) {
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #E2492F;
  }
  .headerWrapper {
    width: 100%;
    margin: 0 auto 2% auto;
    padding: 1% 4% 1% 2%;
    align-items: center;
  }
  .linkButtons {
    padding-right: 3%;
    float: right;
    width: 38%;
    margin-top: .8%;
    display: flex;
    flex-basis: 5em;
    align-items: bottom;
    justify-content: flex-end;
  }
  .linkButtons a {
    flex-direction: row-reverse;
    text-align: center;
    margin: 0 2%;
  }
  #contactBtn {
    width: 4em;
    height: 1.2em;
    background-color: #E2492F;
    color: white;
    padding: .5% 1% .65% 1%;
    border-radius: 1px;
    margin: 0 1.5%;
    align-self: center;
  }
  #contactBtn:hover {
    background-color: white;
    color: #E2492F;
    border: solid .5px #E2492F;
    margin: 0 1.3%;
    padding: .5% 1%;
  }
  #myName {
    font-size: 1.45em;
    font-family: 'Nunito', sans-serif;
  }

  #mobilePhone{
    display: none;
  }

  .mobileMenu{
    display: none;
  }

  .tabletMenu{
    display: none;
  }

  .tabletGrid{
    display: none;
  }

  .fa-home{
    display: none;
  }

  .picGrid {
    width: 85%;
    padding: 5%;
    display: flex;
    margin: 0 auto;
  }
  .col {
    width: 25%;
    float: left;
    padding: 0 1%;
    flex: 1;
  }
  .picGridimg {
    width: 95%;
    height: auto;
  }
  .projLink a {
    margin: 0 auto;
    display: none;
  }
  .bio {
    line-height: 1.5;
    width: 65%;
    margin: 0 auto;
  }

  footer{
    text-align: center;
    margin: 0 auto 1% auto;
  }

  .footerLinks a{
    display: inline-block;
    font-size: 1.8em;
    color: #E2492F;
    margin: 0 .6% .95% .6%;
  }

  .footerLinks a:hover{
    cursor: pointer;
  }
  .copyright{
    width: 100%;
    text-align: center;
    font-size: .85em;
  }
}

/**************************TABLET VIEW*************************/

@media only screen and (max-width: 1010px){

  body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #E2492F;
  }

    .headerWrapper{
      width: 100%;
      margin: 0 auto 2% auto;
      padding: 1% 2% 1% 2%;
      align-items: center;
    }

  .fa-arrow-left{
      font-size: 2.45em;
      color: #E2492F;
      display: inline-block;
      margin-top: 2%;
      width: 10%;
    }

  #myName{
    font-size: 2.6em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  #mobilePhone{
    text-align: center;
    font-size: 1.3em;
  }

  #personalTitle{
    display: none;
  }


  .linkButtons a{
  display: none;
  }

  .mobileMenu{
    display: none;
  }

  .tabletMenu{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 3% 0;
  }

  .tabletMenu a{
    flex-direction: column;
    padding: 1.45% 3.5%;
    margin: 0 5%;
    border-radius: 3px;
    background-color: #E2492F;
    color: white;
    font-size: 1.65em;
    display: inline-block;
    width: 33%;
    text-align: center;
  }

  .tabletMenu a:hover{
    margin: 0 4.75%;
    border: solid 2px #E2492F;
    background-color: white;
    color: #E2492F;
  }

  .picGrid{
    display: none;
  }

  .tabletGrid{
    margin: 0 auto 1% auto;
    padding: 2% 0;
    width: 100%;
    font-size: 2.5em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background: url('../images/indexBackground.png');
    background-position: center;
  }

  .tabletGrid li{
    margin: 5% 2%;
    border: solid white 1px;
    border-radius: 3px;
  }

  .tabletGrid a{
    color: white;
  }

  .tabletGrid li:hover{
    color: #E2492F;
    border: solid #E2492F 1px;
  }

  .bio{
    margin: 2% auto;
    width: 80%;
  }

  footer{
    text-align: center;
    margin: 0 auto 1% auto;
  }

  .footerLinks a{
    display: inline-block;
    font-size: 1.8em;
    color: #E2492F;
    margin: 0 .6% .95% .6%;
  }

  .footerLinks a:hover{
    cursor: pointer;
  }
  .copyright{
    width: 100%;
    text-align: center;
    font-size: .85em;
  }

}
/**************************MOBILE VIEW*************************/

@media only screen and (max-width: 552px){
  body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #E2492F;
  }

  .headerWrapper{
    width: 100%;
    overflow-y: hidden;
    background-color: #E2492F;
    color: white;
    padding-bottom: 5%;
    margin-bottom: 10%;
  }

  .headerWrapper a{
    color: white;
  }

  .mobileMenu{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileMenu a{
    font-size: 3em;
    flex-direction: row;
    flex: 1;
    text-align: center;
    color: #E2492F;
  }

  .tabletMenu{
    display: none;
  }

  .footerLinks a{
    display: none;
  }
}
