body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #E2492F;
}
.headerWrapper{
  width: 100%;
  margin-bottom: 2%;
  padding: 1% 2% 1% 2%;
  align-items: center;
  /*box-shadow: 0px 3px 15px rgba(48, 48, 48, 0.4);*/
}

.linkButtons{
  float: right;
  width: 32%;
  margin-top: .8%;
}

.linkButtons a{
  margin: 0 1%;
}

#contactBtn{
  background-color: #E2492F;
  color: white;
  padding: .5% 1%;
  border-radius: 1px;
}

#myName{
  font-size: 1.45em;
  font-family: 'Nunito', sans-serif;
}

.picGrid{
  width: 85%;
  padding:5%;
  display: flex;
  margin: 0 auto;
}

.col{
  width: 25%;
  float: left;
  padding: 0 1%;
  flex: 1;
}


.picGridimg{
  width: 95%;
  height: auto;
}
